.qtyInput {
  width: 35px;
}

.shopping-cart h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.shopping-cart {
  display: flexbox;
}

.shopping-cart table {
  margin: auto;
}

.shopping-cart td {
  padding-right: 2rem;
  text-align: start;
}
.shopping-cart th {
  padding-right: 1rem;
  text-align: start;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.shopping-cart tr:nth-child(even) {
  background-color: #F4F4F4;
}

.shopping-cart .checkout {
  margin: 1rem;
}

